/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

#blog {
    background-color: rgba(169, 152, 255, 0.11);
}

#blog .btn {
    background-color: #7562D7;
    border: 1px solid #7562D7;
}

#navbar {
    background-color: #CAE894;
}

#menu-1, #menu-2, #menu-3, #menu-4, #menu-5, #menu-6, #menu-7 {
    color: black;
}
#menu-1:active, #menu-2:active, #menu-3:active, #menu-4:active, #menu-5:active, #menu-6:active, #menu-7:active {
    text-decoration: underline;
}

#general .nav-link:not(.active), #depresion .nav-link:not(.active),#ansiedad .nav-link:not(.active),#otros .nav-link:not(.active) {
    background-color: red;
}

#general:enabled {
    background-color: #FB9A4B;
}


#buscar {
    border: 2px solid #7562D7;
    color: #7562D7;
}

.title {
    background-color: #BEB2FB;
}

.card-body {
    background-color: #BEB2FB;
}