/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
  font-family: "Josefin Sans", sans-serif;
}

textarea {
  resize: horizontal;
}

#foro-div,
#login-div {
  min-height: 87vh;
}

#blog {
  min-height: 80vh;
}

#menu-nav-1,
#menu-nav-2,
#menu-nav-3,
#menu-nav-4,
#menu-nav-5 {
  color: black;
}

#boton-nav-1,
#boton-nav-2,
#boton-nav-3 {
  border: 2px solid #a594f9;
  background-color: #a594f9;
  color: black;
  padding: 8px 16px;
  font-size: 1.8vh;
  cursor: pointer;
}

#boton-nav-1:hover,
#boton-nav-2:hover,
#boton-nav-3:hover {
  border: 2px solid #7562d7;
  background-color: #7562d7;
  color: white;
}

#test-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#blog .nav-link {
  background-color: #cae894;
  color: white;
}

#registro-web {
  min-height: 70vh;
}

#carouselExampleCaptions h1,
#carouselExampleCaptions p {
  color: black;
}

#texto-carrusel-1 {
  margin-top: 1000px;
}

#blog {
  background: rgb(165, 148, 249);
  background: radial-gradient(
    circle,
    rgba(165, 148, 249, 0.4) 0%,
    rgba(117, 98, 215, 0.4) 37%
  );
}

#test-div {
  background-color: rgb(165, 148, 249);
  background: radial-gradient(
    circle,
    rgba(165, 148, 249, 0.4) 0%,
    rgba(117, 98, 215, 0.4) 37%
  );
}

.crop-text-2 {
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.title,
.card-body {
  background-color: #cae894;
}

#blog .btn {
  background-color: #a594f9;
  border: 1px solid #a594f9;
}

#registro-web .btn {
  background-color: #a594f9;
  border: 1px solid #a594f9;
}

#footer {
  background-color: #cae894;
  /* background-color: #5a6a7b; */
}

#navbar {
  background-color: #cae894;
}

#menu-1,
#menu-2,
#menu-3,
#menu-4,
#menu-5,
#menu-6,
#menu-7 {
  color: black;
}
#menu-1:active,
#menu-2:active,
#menu-3:active,
#menu-4:active,
#menu-5:active,
#menu-6:active,
#menu-7:active {
  text-decoration: underline;
}

#buscar {
  border: 2px solid #7562d7;
  color: #7562d7;
}
